<nav>
    <div class="site-title">
        <a href="/"><h1>INSERT_NAME_HERE Blog</h1></a>
        <p>INSERT_NAME_HERE website</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
