<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="blogs content">
            <h2>About me</h2>
            <p>Hey my name is Tony</p>
            <p>I'm a cool guy!</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>